.header__cart {
  position: relative;
}
.cart {
  background-color: transparent;
  border: none;
  padding: 0;

  transition: 0.1s;
  cursor: pointer;
  /* position: fixed; Фиксированное расположение */
  top: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart:hover {
  transform: scale(1.1);
}

.cart__num {
  position: absolute;
  background-color: #d62240;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  top: -5px;
  right: -5px;
}
.cart__image {
  width: 24px;
  height: 24px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.33);
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  user-select: none;
  overflow-y: scroll;
}

.popup__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: calc(100vh - 100px);
  background-color: #fff;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
}

.popup__item {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.popup__item:last-of-type {
  border-bottom: none;
}

.popup__title {
  font-size: 20px;
}

.popup__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popup__product-wrap {
  display: flex;
  align-items: center;
}

.popup__product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* margin-top: -15px; */
  margin-right: 10px;
}

.popup__product-title {
  font-size: 20px;
  max-width: 300px;
  font-weight: 500;
}

.popup__product-price {
  font-size: 18px;
  margin-right: 15px;
}

/* Стили для кнопки удаления товара */
.popup__product-delete {
  background-color: transparent;
  border: none;
  text-align: center;

  /* font-size: 12px; */
  padding-bottom: 7px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #d11a2a;
  display: block;
  line-height: 1;
  transition: color 0.3s ease;
}

.popup__product-delete:hover .popup__product-delete:focus {
  color: #990000;
}

/* Стили для вывода стоимости товаров */
.popup__cost {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.popup__cost-title {
  margin: auto 0;
  margin-right: 15px;
  font-size: 20px;
  color: #364364;
  text-align: right;
}

.popup__cost-value {
  font-size: 20px;
}

/* Стили для кнопки закрытия окна */
.popup__close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 20px;
  color: rgba(54, 67, 100, 0.7);
  font-size: 20px;
}

.popup__close:hover {
  color: rgb(54, 67, 100);
}

.popup--open {
  display: flex;
}
